body {
  margin: 0;
  padding: 0;
  font-family: "Public Sans", Arial, Helvetica, sans-serif;
  transition: all .5s ease;
}

a::selection,
p::selection,
button::selection {
 color: #2D318D;
}


/*Nav Bar*/

header{
 z-index: 100;
 background-color: #fff;
}

nav div.nav-bar{
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 1.6rem 2rem 1.6rem 1.5rem;
}

div.close-icon{
 display: none;
}

nav div.nav-content{
 text-align: center;
 background-color:  white;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 align-items: center;
 padding: 1.7rem 2rem 1.7rem 1.5rem;
 height: 30%;
 min-width: 75vw;
 margin-top: 1.8rem;
 margin-left: 1rem;
 border-radius: 2%;
 font-size: 1.15rem;
 box-shadow: 0px 20px 5px hsl(229, 8%, 60%);
 display: none;
 position: absolute;
}

nav div.nav-content a{
 text-decoration: none;
 color: #2D314D;
 margin-block: .2rem;
}

nav div.nav-content a:hover{
 color: hsl(136, 65%, 51%);
}


/* First Section */

div.intro-mockup{
 z-index: -100;
 position: relative;
 top: -2.5rem;
}

img.mockup-image{
 margin-left: 1.1rem;
 position: absolute;
 left: 0;
 top: -4.7rem;
}

.sub-div{
 margin-top: -6rem;
 padding: 0 1.7rem 3rem 1.7rem;
}

.sub-div p:first-child{
 color: #2D314D;
 font-size: 2.3rem;
 text-align: center;
 margin: 0;
}

.sub-div p:nth-child(2){
 color: hsl(233, 8%, 62%);
 font-size: .9rem;
 text-align: center;
 margin: 0;
 margin-block: 1.5rem;
 line-height: 1.5rem;
}

.sub-div button{
 display: flex;
 justify-content: center;
 margin: auto;
 outline: none;
 border: none;
 background: linear-gradient(to left, hsl(192, 70%, 51%),  hsl(136, 65%, 51%));
 width: 45vw;
 color: white;
 font-weight: bold;
 font-size: .9rem;
 border-radius: 30px;
 padding: .9rem;
}

.sub-div button:hover,
footer button:hover{
 filter: blur(.09rem);
}


/* Second Section */

.second-section{
 padding: 3rem 1.5rem 4rem 1.5rem;
 margin-top: 2rem;
 background-color: hsl(220, 16%, 96%);
 text-align: center;
}

.second-section p:first-child{
 font-size: 2.1rem;
 color: #2D314D;
}

p.choice-info{
 margin-top: -.8rem;
 line-height: 1.5rem;
 font-size: .9rem;
 color: hsl(233, 8%, 62%);
}

div.online-banking{
 margin-top: 2.5rem;
}

div.simple-budgeting,
div.fast-onboarding,
div.open-api{
 margin-top: 2rem;
}

div.online-banking p:nth-child(2),
div.simple-budgeting p:nth-child(2),
div.fast-onboarding p:nth-child(2),
div.open-api p:nth-child(2){
 font-size: 1.5rem;
 color: #2D314D;
}

div.online-banking p:nth-child(3),
div.simple-budgeting p:nth-child(3),
div.fast-onboarding p:nth-child(3),
div.open-api p:nth-child(3){
 line-height: 1.8;
 font-size: .9rem;
 color: hsl(233, 8%, 62%);
}


/* Third Section */

.third-section{
 padding: 2.5rem 1.5rem 4rem 1.5rem;
 text-align: center;
 background-color:  hsl(0, 0%, 98%);
}

p.latest-article{
 font-size: 2.1rem;
 margin-block: 2.5rem;
 color: #2D314D;
}

div.first-article,
div.second-article,
div.third-article,
div.fourth-article{
 background-color: hsl(0, 0%, 100%);
 border-radius: 8px;
 box-shadow: 2px 8px 5px hsl(229, 8%, 60%);
}

div.second-article{
 margin-block: 1.5rem;
}

div.fourth-article{
 margin-block: 1.5rem;
}

div.first-article div:first-child img,
div.second-article div:first-child img,
div.third-article div:first-child img,
div.fourth-article div:first-child img{
 border-top-left-radius: 8px;
 border-top-right-radius: 8px;
}

div.first-article div:nth-child(2),
div.second-article div:nth-child(2),
div.third-article div:nth-child(2),
div.fourth-article div:nth-child(2){
 text-align: left;
 padding: .8rem 1.7rem 1.9rem 1.7rem;
}

div.first-article div:nth-child(2) p:first-child,
div.second-article div:nth-child(2) p:first-child,
div.third-article div:nth-child(2) p:first-child,
div.fourth-article div:nth-child(2) p:first-child{
 font-size: .65rem;
 margin: 0;
 margin-top: .5rem;
 color: hsl(233, 8%, 50%);
}

div.first-article div:nth-child(2) p:nth-child(2),
div.second-article div:nth-child(2) p:nth-child(2),
div.third-article div:nth-child(2) p:nth-child(2),
div.fourth-article div:nth-child(2) p:nth-child(2){
 font-weight: bold;
 font-size: 1rem;
 margin: 0;
 margin-block: .6rem;
 color: #2D314D;
}

div.first-article div:nth-child(2) p:nth-child(2):hover,
div.second-article div:nth-child(2) p:nth-child(2):hover,
div.third-article div:nth-child(2) p:nth-child(2):hover,
div.fourth-article div:nth-child(2) p:nth-child(2):hover{
 color: hsl(136, 65%, 51%);
}

div.first-article div:nth-child(2) p:nth-child(3),
div.second-article div:nth-child(2) p:nth-child(3),
div.third-article div:nth-child(2) p:nth-child(3),
div.fourth-article div:nth-child(2) p:nth-child(3){
 font-size: .8rem;
 line-height: 1rem;
 margin: 0;
 color: hsl(233, 8%, 62%);
}


/* Footer */

footer{
 padding: 3rem 1.5rem 1rem 1.5rem;
 text-align: center;
 background-color: #2D314D;
}

div.footer-links a:hover{
 color: hsl(136, 65%, 51%);
}

div.social-links{
 margin-block: 2rem;
 display: flex;
 justify-content: center;
 align-items: center;
}

div.social-links a:nth-child(2),
div.social-links a:nth-child(4){
 margin-left: 1.3rem;
 margin-right: 1.3rem;
}

div.footer-links{
 display: flex;
 flex-direction: column;
 align-items: space-evenly;
 justify-content: center;
}

div.footer-links a{
 text-decoration: none;
 color: white;
 font-size: .95rem;
}

div.footer-links a:nth-child(2),
div.footer-links a:nth-child(4),
div.footer-links a:nth-child(6){
 margin-block: 1rem;
}

footer button{
 display: flex;
 justify-content: center;
 margin: auto;
 margin-top: 1.5rem;
 outline: none;
 border: none;
 background: linear-gradient(to left, hsl(192, 70%, 51%),  hsl(136, 65%, 51%));
 width: 44vw;
 color: white;
 font-weight: bold;
 font-size: .85rem;
 border-radius: 30px;
 padding: .8rem;
}

footer p{
 color: hsl(233, 8%, 62%);
 margin-top: 2rem;
 margin-bottom: 1.3rem;
 font-size: .83rem;
}
